extends layout

block content
  script(src='/js/modal.js')
  br
  br
  br
  p.lead.homepage-p Helping the sisters of BC
  h1.homepage-title Big Sisters of BC
  // Trigger/Open The Modal
  button#myBtn.btn.btn-success How You Can Help
  // The Modal
  #myModal.modal
    // Modal content
    .modal-content
      #myCarousel.carousel.slide(data-ride='carousel', data-wrap='false')
        .carousel-inner(role='listbox')
          .item.active
            img(src='https://secure.dazil.com/bigsistersbcca/forms/wp-content/uploads/2012/10/facebook_timeline_cover_bigsister.jpg', alt='How can I help?')
            h4.small-padding
              span.highlighttext Mentoring starts something. 
              | Mentoring can put girls on the right path, help them make positive decisions, stay in school, and believe in themselves. With your donation, you can help 400 girls each month achieve this. 
              span.highlighttext Thank you 
              | for your generous support.
          .item
            .modal-header
              // TODO: replace with image
              span#modalCloseButton.close x
              h2 How can I help?
              p
                | Big Sisters is currently looking for donations for the following items. You can greatly help the cause by donating any of the following items
            .modal-body
              table#newsFeedItemsTable.table.table-hover.borderless
                thead
                  tr
                    th Item
                    th Description
                    th.price_th Cost per unit
                    th.quantity_th Quantity
                tbody(data-bind='foreach: newsFeedItems')
                  tr
                    td
                      input.checkbox(type='checkbox', data-bind="value: $index(), attr: {'id': 'checkbox_' + $index()}, click: checkboxClick_handler($index())")
                      span(data-bind='text: title')
                    td(style='width: 15em; word-wrap: normal', data-bind='text: description')
                    td
                      span(data-bind="attr: {'id': 'price_'+ $index()}, text: '$' + price")
                    td
                      input(type='number', style='width: 4em; text-align: center', data-bind="attr: {'id': 'number_'+ $index()}", oninput='totalAmtChange_handler()', value='1')
            .modal-footer
              h3
                form.form-horizontal(role='form', method='POST')
                  | Total Donation $   &nbsp;&nbsp;
                  span#totalAmount(data-bind='text: totalAmt')
                  input#totalAmt(type="hidden" name='totalAmt' data-bind='value: totalAmt')  
                  button#paypalBtn.btn.btn-primary(type="submit" formmethod="post") PayPal 
                    i.fa.fa-paypal
                  button#visaBtn.btn.btn-success(type="submit") Visa 
                    i.fa.fa-credit-card
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next
