extends layout

block content
  br
  br
  br
  p Helping the sisters of BC
  p Big Sisters of BC
  a(href='/volunteer') Apply to be a Study Buddy
  a(href='/volunteer') Apply to be a Big Sister
  a(href='/volunteer') Apply to be a Go Girl
