extends layout

block content
  br
  br
  br
  h2 Big Sisters of BC
  h3
    a(href='/forms/studybuddy') Apply to be a Study Buddy
  h3
    a(href='/forms/bigsister') Apply to be a Big Sister
  h3
    a(href='/forms/gogirl') Apply to be a Go Girl
