extends ../layout
block content
  .page-header
    h2
      i.fa.fa-paypal(style='color: #1B4A7D')
      | PayPal
  h3 Donate
  if result
    if canceled
      h3 Payment got canceled!
    if success
      h3 Payment got executed successfully!
    a(href='/api/paypal')
      button.btn.btn-primary New payment
  else
    div
      p Redirects to PayPal and allows authorizing of the payment.
      a(href=approvalUrl)
        button.btn.btn-primary Authorize payment
